[run]
source = nti.externalization
omit =
    */flycheck_*py
    */benchmarks/*py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise AssertionError
    Python 2
    if __name__ == .__main__.:
